{% extends 'base.html' %}

{% block main %}
<div class="frame">
    <div id="button_open_envelope" style="text-align: center;">
      Open
    </div>
    <div class="message" style="text-align: center;">
      <div>
        <h1> Midnight Masquerade </h1>
        <h3> December 31, 2023 | 9:00 | 163 Summer St, Sommerville Ma, 02143 | Dress To Impress </h3>
        <form method="post"> 
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
            <label for="email">Email</label>
            <input type="email" id="email" name="email">
            <input type="submit" value="RSVP">
        </form>
        <div class='imgcont'>
            <img class="envelope" src="{{url_for('static', filename='/images/mask.png')}}" alt="masquerade mask">
        </div>
      </div>
    </div>
    <div class="bottom"></div>
    <div class="left"></div>
    <div class="right"></div>
    <div class="top"></div>
  </div>
</div> 
{% endblock %}